.wrapper {
    padding-top: 20px;
    width: 100%;

    .classWrapper {
        width: 100%;
        margin-bottom: 20px;
        .mb5px {
            margin-bottom: 5px;
        }
        .tag {
            font-size: 14px;
        }
        .tip {
            position: relative;
            padding: 0 0 0 5px;
            top: -3px;
        }
    }
    .content {
        width: 100%;
        .title {
            font-size: 20px;
        }
        ul {
            margin-left: 20px;
            li {
                list-style: square inside;
            }
        } 
    }
}